---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import TestimonialsCard from "../components/TestimonialsCard.astro";
import Grid from "../components/Grid.astro";

import miLorenteggioImage from "../assets/testimonials/mi-lorenteggio.jpg";
import dmdImage from "../assets/testimonials/dmd.png";
import sempioneNewsImage from "../assets/testimonials/sempione-news.png";
import ilRhodenseImage from "../assets/testimonials/il-rhodense.png";
import studioMuliariImage from "../assets/testimonials/studio-muliari.png";
import ilGiornoImage from "../assets/testimonials/il-giorno.jpg";
import rotaryImage from "../assets/testimonials/rotary.png";
import primaMilanoOvestImage from "../assets/testimonials/prima-milano-ovest.png";
---

<Layout title="Dicono di noi - AFK Progetto Giovani">
    <main>
        <PageTitle
            title="DICONO DI NOI"
            img="/pagetitles/dicono-di-noi.webp"
        />
        <section>
            <h2>COSA NE PENSANO DEL NOSTRO PROGETTO?</h2>
            <Grid>
                <TestimonialsCard
                    img={primaMilanoOvestImage}
                    alt="Prima Milano Ovest"
                    url="https://primamilanoovest.it/attualita/il-sogno-tantissimi-applausi-per-i-ragazzi-di-afk-per-lo-spettacolo-andato-in-scena-allauditorium/"
                    title="«Il sogno», tantissimi applausi per i ragazzi di Afk per lo spettacolo andato in scena all’auditorium"
                    text="Tre repliche da tutto esaurito hanno permesso di raccogliere fondi per diverse associazioni di volontariato..."
                />
                <TestimonialsCard
                    img={ilGiornoImage}
                    alt="Il Giorno"
                    url="https://www.ilgiorno.it/milano/cronaca/giostra-accessibile-alle-carrozzine-a-719c94f0"
                    title="Giostra accessibile alle carrozzine a Mazzo di Rho: un sogno realizzato per Tommy"
                    text="Grazie a una raccolta fondi, installata una giostra accessibile alle carrozzine nel parco di Mazzo di Rho per il piccolo Tommy..."
                />
                <TestimonialsCard
                    img={rotaryImage}
                    alt="Rotary"
                    url="https://www.rotaryclubrho.org/l8-maggio-grande-serata-ragazzi-dellafk-progetto-giovani/"
                    title="L’8 maggio grande serata con i ragazzi dell’AFK Progetto Giovani"
                    text="Grande serata in cui il Rotary Club Rho continua a sostenere e credere nei sogni dell’AFK Progetto Giovani..."
                />
                <TestimonialsCard
                    img={ilRhodenseImage}
                    alt="Il Rhodense"
                    url="https://ilrhodense.it/rho-afk-con-i-suoi-tre-spettacoli-dona-speranza/"
                    title="Rho. AFK con i suoi tre spettacoli dona speranza "
                    text="Una bellissima serata che ha visto la partecipazione di oltre 280 persone molto attente al musical, una storia creata dalla fantasia e dalla professionalità..."
                />
                <TestimonialsCard
                    img={studioMuliariImage}
                    alt="Studio Muliari"
                    url="https://muliari.com/la-festa-di-afk-progetto-giovani-per-i-sostenitori/"
                    title="La festa di AFK Progetto Giovani per i sostenitori"
                    text="Nel fine settimana abbiamo partecipato alla festa di AFK-Progetto Giovani riservata ai sostenitori. È stato bello ascoltare le esperienze dei ragazzi..."
                />
                <TestimonialsCard
                    img={miLorenteggioImage}
                    alt="MI Lorenteggio"
                    url="https://www.mi-lorenteggio.com/2022/12/05/t-off-debutto-sold-out-con-afk-progetto-giovani/"
                    title="T-OFF, debutto sold out con AFK Progetto Giovani"
                    text="Rho, 5 dicembre 2022 Doppio successo, il pomeriggio e la sera di sabato 3 dicembre per il primo evento T-OFF. AFK Progetto Giovani ha trasformato il..."
                />
                <TestimonialsCard
                    img={dmdImage}
                    alt="DMD"
                    url="https://www.fondodmd.org/2022/12/30/4111/"
                    title="Un Ringraziamento ad AFK"
                    text="Carissimi, volevamo innanzitutto ringraziarvi per aver dedicato alla nostra Associazione questa bellissima serata..."
                />
                <TestimonialsCard
                    img={sempioneNewsImage}
                    alt="Sempione News"
                    url="https://www.sempionenews.it/spettacoli/a-million-dreams-i-giovani-fanno-sognare-il-nuovo-teatro-de-silva/"
                    title="I giovani fanno sognare il nuovo Teatro De Silva"
                    text="Si sono esibiti nel musical “A Million Dreams” sul palco del Teatro Roberto De Silva di Rho i giovani di AFK..."
                />
                <TestimonialsCard
                    url="https://www.facebook.com/AFKProgettoGiovani/photos/pb.100079922102721.-2207520000/126954416631711/?type=3"
                    title="DAL PUBBLICO"
                    text="COMPLIMENTI! COMPLIMENTI e ancora COMPLIMENTI! Vedervi è stato veramente meraviglioso!"
                />
                <TestimonialsCard
                    url="https://storiediandreare.blogspot.com/2023/03/il-crar-promotore-di-donne-che-si.html"
                    title="STORIE DI ANDREA RE"
                    text="Si è tenuto nel pomeriggio di domenica 5 marzo 2023 presso gli spazi associativi del Centro..."
                />
                <TestimonialsCard
                    url="https://fb.watch/pukRnNv6ok/"
                    title="ASSOCIAZIONE GENTILE"
                    text="Parliamo di Rho con AFK progetto giovani - Diretta Facebook"
                />
            </Grid>
        </section>
    </main>
</Layout>
